<h2>New user message</h2>

<%= render "form.html", changeset: @changeset,
                        action: user_message_path(@conn, :create) %>

<%= link "Back", to: user_message_path(@conn, :index) %>
